{% extends "base.html" %}

{% block styles %}
    <link rel="stylesheet" href="{{ url_for('static', filename='index.css') }}">
{% endblock %}

{% block content %}
</head>
<body>
    <div>
        <h3>Criar Novo Item</h3>
    </div>
    <br>
    <!-- Contêiner do campo de entrada e botão adicionar -->
    <div>
        <form action="{{ url_for('itens.create_iten') }}" method="post">
            <!-- Nome do Item -->
            <input type="text" id="itemName" name="name" placeholder="Digite o nome do item" required>

            <!-- Descrição do Item -->
            <input type="text" id="itemDescription" name="description" placeholder="Descrição do item" required>

            <!-- Unidade de Medida do Item -->
            <input type="text" id="itemMeasure" name="measure" placeholder="Unidade de medida" required>

            <!-- Tag do Item (opcional) -->
            <input type="text" id="itemTag" name="tag" placeholder="Tag opcional">


            <!-- Botão de adicionar item -->
            <button type="submit">Adicionar</button>
        </form>
    </div>
</body>
{% endblock %}
