{% extends "base.html" %}

{% block styles %}
    <link rel="stylesheet" href="{{ url_for('static', filename='index.css') }}">
    <!-- Adicionando Material Icons -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
{% endblock %}

{% block content %}
    <h3>Itens cadastrados:</h3>

    <!-- Lista para os itens adicionados -->
    <ul class="list" id="item-list">
        {% if data != [] %}
            {% for x in data %}
                <li class="list-item">
                    <a href="{{ url_for('itens.view_iten', iten_id=x.id) }}" class="list-link">
                        <span class="material-icons list-icon">add</span>
                    </a>
                        <span class="list-text">{{ x.name }} - {{ x.tag }}</span>
                </li>
            {% endfor %}
        {% else %}
            <li class="empty-list">Lista vazia</li>
        {% endif %}
    </ul>

    </ul>

    <!-- Botão de adição -->
    <div class="add-button" id="addButton">
        <a href="{{ url_for('itens.create_iten') }}" class="add-button-link">
            <span class="material-icons">add</span> Adicionar novo item
        </a>
    </div>
    
{% endblock %}
